extends layout

block content
    section.banner-bottom-wthreelayouts.py-lg-5.py-3
        .container-fluid
                .inner-sec-shop.px-lg-4.px-3
                    .about-content.py-lg-5.py-3
                        .row
                            h1 ABOut